server {
	listen                  8000;                        			 # listening port, mandatory parameter
	server_name             webserv;                   		   		 # specify host name and/or ip, name needs to be added into /etc/hosts to work
	client_max_body_size    1000000;
	root                    /workspaces/webserv/docs/www/website;	# root folder of site directory, full or relative path, mandatory parameter
	upload_store			storage;
	index                   index.html;                   			# default page when requesting a directory, index.html by default
	cgi_path /usr/bin/python3 /bin/bash;                     		# location of interpreters installed on the current system, mandatory parameter
	cgi_ext .py .sh;	                                    		# extensions for executable files, mandatory parameter

	error_page              400 /errors/400_BadRequest.html;
	error_page              401 /errors/401_Unauthorized.html;
	error_page              403 /errors/403_Forbidden.html;
	error_page              404 /errors/404_NotFound.html;
	error_page              405 /errors/405_MethodNotAllowed.html;
	error_page              406 /errors/406_NotAcceptable.html;
	error_page              407 /errors/407_ProxyAuthenticationRequired.html;
	error_page              408 /errors/408_RequestTimeout.html;
	error_page              411 /errors/411_LengthRequired.html;
	error_page              413 /errors/413_PayloadTooLarge.html;
	error_page              414 /errors/414_URITooLarge.html;
	error_page              415 /errors/415_UnsupportedMediaType.html;
	error_page              418 /errors/418_Teapot.html;
	error_page              429 /errors/429_TooManyRequests.html;
	error_page              500 /errors/500_InternalServer.html;
	error_page              501 /errors/501_NotImplemented.html;

	error_page              505 /errors/505_HTTPVersionNotSupported.html;

  location / {                   
    	root docs/www/website;                  # root folder of the location, if not specified, taken from the server. 
                                      			# EX: - URI /tours           --> docs/fusion_web/tours
                                      			#     - URI /tours/page.html --> docs/fusion_web/tours/page.html 
		allow_methods GET;         				# allowed methods in location, GET only by default
		index index.html;               		# default page when requesting a directory, copies root index by default
	}

	location /storage {
		allow_methods POST DELETE;
	}

	location /errors {
		allow_methods GET;
	}

	location /pokemon {
		root docs/www/website/pokemon;
		index pokemon.html;
		allow_methods GET POST;
		allow_cgi	yes;
	}

	location /contact {
		root docs/www/website/cgi-bin;
		index cowsay.sh;
		allow_methods GET POST DELETE;
		allow_cgi yes;
	}

	location /about {
		return /contact;
	}

	location /fake {
		allow_methods GET;
		return https://www.google.com;
	}

	location /cgi-bin {
    	root docs/www/website/cgi-bin;
		allow_methods GET POST DELETE;
		allow_cgi	yes;
		autoindex on;
	}
}

server {
	listen                  8000;                        		  	# listening port, mandatory parameter
	server_name             webserv2;                   		    # specify server_name, need to be added into /etc/hosts to work
	client_max_body_size    10;

	root                    /workspaces/webserv/docs/www/website2;                   	# root folder of site directory, full or relative path, mandatory parameter
	index                   index.html;                   			# default page when requesting a directory, index.html by default
	cgi_path /usr/bin/python3 /bin/bash;                     		# location of interpreters installed on the current system, mandatory parameter
	cgi_ext .py .sh;	                                    		# extensions for executable files, mandatory parameter

	error_page              400 /errors/400_BadRequest.html;
	error_page              401 /errors/401_Unauthorized.html;
	error_page              403 /errors/403_Forbidden.html;
	error_page              404 /errors/404_NotFound.html;
	error_page              405 /errors/405_MethodNotAllowed.html;
	error_page              406 /errors/406_NotAcceptable.html;
	error_page              407 /errors/407_ProxyAuthenticationRequired.html;
	error_page              408 /errors/408_RequestTimeout.html;
	error_page              411 /errors/411_LengthRequired.html;
	error_page              413 /errors/413_PayloadTooLarge.html;
	error_page              414 /errors/414_URITooLarge.html;
	error_page              415 /errors/415_UnsupportedMediaType.html;
	error_page              418 /errors/418_Teapot.html;
	error_page              429 /errors/429_TooManyRequests.html;
	error_page              500 /errors/500_InternalServer.html;
	error_page              501 /errors/501_NotImplemented.html;
	error_page              502 /errors/502_BadGateway.html;
	error_page              503 /errors/503_ServiceUnavailable.html;
	error_page              504 /errors/504_GatewayTimeout.html;
	error_page              505 /errors/505_HTTPVersionNotSupported.html;

  location / {                   
      root docs/www/website2;                  	# root folder of the location, if not specified, taken from the server. 
                                      			# EX: - URI /tours           --> docs/fusion_web/tours
                                      			#     - URI /tours/page.html --> docs/fusion_web/tours/page.html 
      autoindex on;                   			# turn on/off directory listing
      allow_methods POST GET DELETE;         	# allowed methods in location, GET only by default
      index index.html;               			# default page when requesting a directory, copies root index by default
	}

	location /pokemon {
		root docs/www/website2/pokemon;
		index pokemon.html;
		allow_methods GET POST;
		allow_cgi	yes;
	}

	location /contact {
		root docs/www/website2/cgi-bin;
		index cowsay.sh
		allow_cgi yes;
	}

	location /fake {
		return /;
	}

	location /cgi-bin {
    	root docs/www/website2/cgi-bin;
		allow_methods GET POST;
		allow_cgi	yes;
	}

}