server {

  listen                8000;                        		    	
  host                    127.0.0.1;                   	    	  
  
  error_page              404 /error/404_NotFound.html;   
  

  server_name             webserv;                   	
  root                    docs/www;                    
  index                   index.html;                   	


 location /siege {                   
     
	 return 200 "Test siege"
  }
}